body {
  margin: 0;
  padding: 0;

  background: url("https://i.postimg.cc/YjcJg24M/aa.jpg");
  background-size: cover;
}
.LoginForm {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.LoginForm input {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border-bottom: 2px solid burlywood;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
}
.LoginForm h1 {
  color: burlywood;
  font-weight: 500;
  font-size: 60px;
  text-transform: uppercase;
}
